<div class="brand-container">
    <h3>What makes our brand different</h3>
    <div class="brand-content">
        <div>
            <img src="/ecommerce/src/assets/icons/truck-solid.svg" alt="">
            <h4>Next day as standard</h4>
            <p>Order before 3pm and get your order
                the next day as standard</p>
        </div>
        <div>
            <h4>Next day as standard</h4>
            <p>Order before 3pm and get your order
                the next day as standard</p>
        </div>
        <div>
            <h4>Next day as standard</h4>
            <p>Order before 3pm and get your order
                the next day as standard</p>
        </div>
        <div>
            <h4>Next day as standard</h4>
            <p>Order before 3pm and get your order
                the next day as standard</p>
        </div>

    </div>

</div>