<div class="brand-container">
    <h3>What makes our brand different</h3>
    <div class="brand-content">
        <div>
            <img src="assets/icons/delivery.svg" alt="Delivery">
            <h4>Next day as standard</h4>
            <p>Order before 3pm and get your order
                the next day as standard</p>
        </div>
        <div>
            <img src="assets/icons/checkmark.svg" alt="Check">
            <h4>Made by true artisans</h4>
            <p>Handmade crafted goods made with
                real passion and craftmanship</p>
        </div>
        <div>
            <img src="assets/icons/purchase.svg" alt="Purchase">
            <h4>Unbeatable prices</h4>
            <p>For our materials and quality you won’t find better prices anywhere</p>
        </div>
        <div>
            <img src="assets/icons/sprout.svg" alt="Sprout">
            <h4>Recycled packaging</h4>
            <p>We use 100% recycled packaging to ensure our footprint is manageable</p>
        </div>

    </div>

</div>