<div class="intro-container">
    <div class="left-container">
        <div class="top-content">
            <h2>The furniture brand for the future, with timeless designs</h2>

            <button>View collection</button>
        </div>

        <p>A new era in eco friendly furniture with Avelon, the French luxury retail brand
            with nice fonts, tasteful colors and a beautiful way to display things digitally
            using modern web technologies.</p>

    </div>
    <div class="right-container">
        <img src="assets/furniture/muuto.png" alt="char">
    </div>
</div>