<div class="intro-container">

    <h2 class="top-title">LESS IS</h2>
    <h2 class="bottom-title">MORE</h2>

    <video #bgVideo2 loop muted>
        <source src="../../../assets/videos/home.mp4" type="video/mp4">
    </video>

    <div class="left-container">
        <div class="top-content">
            <!-- <h1>LESS IS MORE</h1> -->
            <!-- <app-button buttonText="View collection" navigationPath="/products"></app-button> -->
        </div>
    </div>

    <video #bgVideo1 loop muted>
        <source src="../../../assets/videos/home1.mp4" type="video/mp4">
    </video>
</div>
<app-brand></app-brand>
<app-limited-products></app-limited-products>