@import 'src/styles/palette';
@import 'src/styles/mixins';

.intro-container {

    @include flex;

    .left-container {
        @include flex($direction: column);
        padding: 60px 80px;

        .top-content {
            height: 300px;
            @include flex($direction: column);

            h2 {
                max-width: 513px;
                line-height: 140%;
                @include font-settings(42px, 700, $primary)
            }
        }
    }

    p {
        max-width: 600px;
        line-height: 150%;
        @include font-settings(18px)
    }

    .right-container {
        background-image: url('../../../assets/images/registration.jpeg');
        @include background-image;
    }

}