@import 'src/styles/palette';
@import 'src/styles/mixins';

.header {
    height: 60px;
    padding: 1.5em;
    @include flex;
    align-items: center;

    .header-list {
        @include flex(center);
        gap: 1em;

        li {
            @include font-settings();
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    span {
        text-transform: uppercase;
        cursor: pointer;
        margin-right: 1em;
    }
}