@import 'src/styles/palette';

@mixin flex ($justify-content: space-between, $direction: row) {
    display: flex;
    justify-content: $justify-content;
    flex-direction: $direction;
}

@mixin font-settings($size: 16px, $weight: normal, $color: $black) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin border($border-color: $border-color) {
    border: 1px solid;
    border-color: $border-color;
}

@mixin background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
    height: calc(100vh - 60px);
}