$primary: #9fb7da;
$primary-dark: #3e5659;
$primary-light: #d9d9d9;

$font-secondary-color: #7b1a1d;
$error-color: #da423f;

$border-color: #98a1af;

$black: #282828;
$white: #ffff;

$header-background: #819887;
$primary-background-color: #f9f8f3;
$secondary-background-color: #c0ccd8;