<div class="login-container">
    <div class="left-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" class="form-control">
                <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
                    <div *ngIf="loginForm.get('email')?.errors?.['required']" class="text-validation">Required field
                    </div>
                    <div *ngIf="loginForm.get('email')?.errors?.['email']" class="text-validation">Enter a valid e-mail
                        address.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control">
                <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                    <div *ngIf="loginForm.get('password')?.errors?.['required']" class="text-validation">Required field
                    </div>
                    <div *ngIf="loginForm.get('password')?.errors?.['minlength']" class="text-validation">Password must
                        be at least 6 characters long.</div>
                </div>
            </div>

            <app-button buttonText='Log In' (click)="onSubmit"></app-button>
        </form>
        <a routerLink="/">Have you forgotten your password?</a>
        <a routerLink="/registration">Need an account?</a>
    </div>
    <div class="image-container"></div>
</div>